.dockerignore
.DS_Store
.git*
Dockerfile*
docker-compose*
README.md
server.php
phpcs.xml.dist
phpunit.xml.dist
.phplint.yml
.php-cs-fixer.dist.php
.phpunit.result.cache
.php_cs.cache
.phplint-cache
*.log
.releaserc
Jenkinsfile
.editorconfig
cspell-extra-words.txt
oauth-public.key
oauth-private.key

.vscode
bootstrap/cache/*
builds
docs
tests
vendor
storage/api-docs/*
storage/app/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

!storage/app/public/.gitignore
